<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <p>Du har ikke tilladelse til at se denne side.</p>
                    <p>Prøv at logge ind, eller kontakt en administrator.</p>
                </NotAuthorized>
                <Authorizing>
                    <p>Kontrollerer tilladelser...</p>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(Layout.MainLayout)">
                <p role="alert">Beklager, der er intet på denne adresse.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>